@use '../../settings/index' as *;

.c-searchbar {
  position: relative;
  z-index: 100;

  input{
    width: 288px;
    height: 2.25rem;
    border-radius: 9999px; /* large value to make it a circle */
    padding-right: 8px;
    padding-left: 4px;
    border: none;

  }
}
