.c-activities {

  h2 {
    margin-top: 40px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
  }

  &__title {
    div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      button {
        width: 120px;
        height: 30px;
        font-size: 13px;
      }

      div:nth-child(1) {
        position: relative;
        width: 224px;
        color: rgb(100 116 139);
      }
    }
  }

  &__container {
    display: flex;
  }

}
