@use '../../settings/index' as *;

.c-navbar{
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-top: 0;
  }

  div:nth-child(1){
    width: 100%;
    z-index: 60;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.08);
  }

}
